
    <link href="{{ asset('css/landing.css') }}" type="text/css" rel="stylesheet" />
    <html>
        <head>
            <link rel="icon" type="image/x-icon" href="/images/express-vpn.png">
            <title>High-Speed, Secure & Anonymous VPN Service | ExpressVPN</title>
            <!-- Needed for fix Media Query vs Device Width -->
            <meta name="viewport" content="width=device-width,initial-scale=1">
        </head>
        <body>
            <header class="no-nav-header">
                <nav class="nav">
                    <div class="container-fluid">
                        <a href="/" class="expressvpn-logo" title="Express VPN"></a>
                        <div class="dd">
                            <div class="dd-button"></div>
                            <ul class="dd-ul">
                                <li>English</li>
                                <li>Spanish</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </body>
    </html>
